.border{
    border: 2px solid red;
    margin: 3px;
 }
 .flex{
    display: flex;
 }
 .justify-center{
    justify-content: center;
 }
 .items-center{
    align-items: center;
 }
 .bg-black{
   background-color: black;
   color: white;
}
.bg-grey{
   background-color: #121212;
}
.rounded{
   border-radius: 7px;
}
.m-1{
   margin: 5px;
}
.p-1{
   padding: 10px;
}
.invert {
   filter: invert(1);
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
   width: 12px; /* Width of the scrollbar */
   height: 12px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
   background: #444; /* Dark gray thumb */
   border-radius: 6px; /* Rounded corners */
   border: 3px solid #222; /* Space around the thumb */
}

::-webkit-scrollbar-track {
   background: #222; /* Darker gray track */
   border-radius: 6px; /* Rounded corners */
}

/* For Firefox */
* {
   scrollbar-width: thin; /* Thin scrollbar */
   scrollbar-color: #444 #222; /* Thumb color and track color */
}
